@import url(https://fonts.googleapis.com/css?family=Montserrat);
.reveal,
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
    font-family: "Montserrat", Impact, sans-serif;
}
.reveal h2:not(:empty), h3:not(:empty){
    color: white;
    background: brown;
    padding: 10px;
}
.reveal{
    font-size:25px;
}
.column {
    float: left;
    width: 25%;
}

.column-2 {
    float: left;
    width: 50%;
}
.column-3 {
    float: left;
    width: 33.33%;
}
/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
.reveal ul.org-ref-bib{
    font-size: 24px;
}
.talk-title h1{
    color: brown;
    font-size: 60px;
    font-weight: bold;
}
.talk-subtitle{
    margin-top: 150px;
    text-transform: uppercase;
}
.talk-author{
    margin-top: 50px;
    font-weight: bold;
}
.talk-date{
    margin-top:-20px;
}
.afiliasi{
    font-size: 20px;
}
