<div class="talk-title">
    <h1 class="no-toc-progress">%t</h1>
</div>
<div class="talk-author">
    %a <br/>
    <span class="afiliasi">- Observatorium Bosscha, FMIPA, ITB - </span>
</div>
<div class="talk-subtitle">
    <p>%s</p>
</div>
<div class="talk-date">
    <p>%d</p>
</div>
